@font-face {
    font-family:"Century Gothic";
    src: url(../fonts/GOTHIC.TTF); /* Путь к файлу со шрифтом */
   }


header .container-fluid{
	background:#6fcdff;
	height: 136px;
}

.Rectangle{
	height: 136px;
	float: left;
}
#logo{
	float: left;
	width: 364px;
	height: 136px;
	background-color: #51afe1;
}
.form{
	
}
.vcenter {
  	margin:57px auto;
  	color: #ffffff;
	font-family: Montserrat;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
}
.Rectangle p{
	color: #a1deff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
  	margin:61px 153px;
  	position: relative;
}

.Rectangle p:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -50px;
    width: 40px;
	height: 40px;
	background: url(../images/rounded.png) no-repeat;
    z-index: 9;
    opacity: 1;
}
.Rectangle p:before {
    content: "";
    position: absolute;
    top: 4px;
    left:-36px;
    width: 37px;
    height: 37px;
    background: url(../images/+.png) no-repeat;
    z-index: 10;
}
.main{
	background: #e4edf4;
}
.form{
	background: #ffffff;
	border-radius:0 0 20px 20px;
	margin-bottom: 15px;
}
.form p{
	color: #010101;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 900;
	line-height: 36px;
	text-transform: uppercase;
}
.form ul{
	margin:40px 0 0 50px;
}
.form li{
	list-style-type: none;}
.form input{
	width: 500px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #d0e0eb;
	background-color: #ffffff;

	color:#000000;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	padding-left: 10px;
}
#description{
	height: 100px;
}
//.form {
    display: none;
}
#button:checked < .main {
    display: block;
}
.button input{
	margin: 30px 21px 50px 0;
	width: 140px;
	height: 40px;
	box-shadow: 0 5px 10px #ff6e5d, 0 1px 0 #ff7e70;
	border-radius: 20px;
	border: 1px solid #ff695a;
	background-color: #ff7e70;
}
#add{
	background-color: #6ecdfd;
	box-shadow: 0 5px 10px #6fcdff, 0 1px 0 #6fcdff;
	border: 1px solid #2fa5e1;
}
:focus {
    outline: none;
}
.film{
	background:url(../images/film-back.png) no-repeat; 
	border-radius:20px;
	margin-bottom: 15px;
}
.photo>img{
	margin: 82px 50px 82px 0;
}
.text>h1{
	margin-top: 82px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 36px;
	line-height: 30px;
}
.text>p{
	color: #e4edf4;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-right: 157px;
}
.text>.col-md-9>p,.text>.col-md-3>p{
	margin-right: 138px;
	color: #e4edf4;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}
.text>.col-md-3>p{
	font-size: 12px;
	font-weight: 400;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	margin-left: -10px;
}
.text input{
	margin-top: 15px;
	margin-bottom: 60px;
}
.comments{
	background: #ffffff;
	margin: -15px;
	margin-bottom: 0px;
	border-radius:0 0 20px 20px;
	position: relative;
}
.comment_p,.in-in_coments{
	color: #ff7e70;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	/* Text style for "Comments:" */
	letter-spacing: 1.2px;
	border-bottom:2px solid #e4edf4;
	padding:40px 0 40px 0;
	margin:0 40px;
}
.in-in_coments{
	color: #000000;
	padding:30px 0 30px 0;
}
#message{
	width: 93%;
	height: 58px;
	border-radius: 5px;
	border: 1px solid #e4edf4;
	background-color: #ffffff;
	margin:40px;
	margin-bottom: 10px;
	resize: none;

	color:#000000;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	padding-left: 10px;
}
#submit-message{
	width: 140px;
	height: 40px;
	box-shadow: 0 5px 10px #6fcdff, 0 1px 0 #6fcdff;
	border-radius: 20px;
	border: 1px solid #2fa5e1;
	background-color: #6ecdfd;
	margin:20px 0 50px 50px;

	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 36px;
	/* Text style for "Add" */
	letter-spacing: 1.05px;
}
input[type="text"]::-webkit-input-placeholder {
    color: #9a9a9a;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	padding-left: 10px;
}
.coments,.sent{
	display: block;
}
#button_2:checked ~ div{
    display: none;
}
#button_2{
	position: absolute;
	top: 50px;
	left: 190px;
}